In [1]:
# Imports
import yfinance as yf
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [7]:
# Loading model
loaded_model = tf.keras.models.load_model('AAPL_model.h5')
print(loaded_model.summary())

# Importing data from 2022-01-14 to 2022-02-14
oneStockAAPL = yf.Ticker("AAPL").history(start="2022-01-15", end="2022-02-15")
oneStockAAPL.insert(0, 'Timestamp', oneStockAAPL.index)
oneStockAAPL.reset_index(drop=True, inplace=True)
oneStockAAPL

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 50)            10400
_________________________________________________________________
dropout (Dropout)            (None, 60, 50)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 60, 50)            20200
_________________________________________________________________
dropout_1 (Dropout)          (None, 60, 50)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 50)                20200
_________________________________________________________________
dropout_2 (Dropout)          (None, 50)                0
_________________________________________________________________
dense (Dense)                (None, 1)                 51
=================================================================
Total params: 50,851
Trainable params: 50,851
Non-trainable params: 0
_________________________________________________________________
None

,Timestamp,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2022-01-14,171.121983,173.558881,170.872301,172.849792,80355000,0.00,0
1,2022-01-18,171.291754,172.320442,169.194435,169.583939,90956700,0.00,0
2,2022-01-19,169.783686,170.862313,165.728854,166.018478,94815000,0.00,0
3,2022-01-20,166.767517,169.464079,163.971077,164.300659,91420500,0.00,0
4,2022-01-21,164.210791,166.118364,162.093493,162.203354,122848900,0.00,0
5,2022-01-24,159.816382,162.093480,154.503145,161.414337,162294600,0.00,0
6,2022-01-25,158.777706,162.552895,156.820208,159.576691,115798400,0.00,0
7,2022-01-26,163.291951,164.180817,157.619186,159.486801,108275300,0.00,0
8,2022-01-27,162.243296,163.631527,158.078604,159.017410,121954600,0.00,0
9,2022-01-28,165.499150,170.133245,162.592849,170.113266,179935700,0.00,0
10,2022-01-31,169.943485,174.777323,169.294303,174.557602,115541600,0.00,0
11,2022-02-01,173.788575,174.617520,172.090741,174.387817,86213900,0.00,0
12,2022-02-02,174.527647,175.656214,173.109456,175.616257,84914300,0.00,0
13,2022-02-03,174.257984,176.015754,171.900986,172.679993,89418100,0.00,0
14,2022-02-04,171.679993,174.100006,170.679993,172.389999,82391400,0.22,0
15,2022-02-07,172.860001,173.949997,170.949997,171.660004,77251200,0.00,0
16,2022-02-08,171.729996,175.350006,171.429993,174.830002,74829200,0.00,0
17,2022-02-09,176.050003,176.649994,174.899994,176.279999,71285000,0.00,0
18,2022-02-10,174.139999,175.479996,171.550003,172.119995,90865900,0.00,0
19,2022-02-11,172.330002,173.080002,168.039993,168.639999,98566000,0.00,0
20,2022-02-14,167.369995,169.580002,166.559998,168.880005,86062800,0.00,0

In [ ]:
#print(loaded_model.predict(X_train))
# Preping the data
# Scaler
sc = MinMaxScaler(feature_range=(0, 1))
scaled_data  = sc.fit_transform(closing_price.reshape(-1,1))

# Train scaling
training_data = scaled_data[0:split, :]

for i in range(60, len(training_data)):
    X_train.append(training_data[i-60:i, 0])
    y_train.append(training_data[i, 0])
       
X_train, y_train = np.array(X_train), np.array(y_train)
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
print(X_train.shape)